@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
/* font-family: 'Jockey One', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
/* font-family: 'Poppins', sans-serif; */
img{

    width: 100px;
    object-fit: contain;
}
.header-content{

    top: 22%;
    left: 50%;
}
.header-content p {

    font-family: 'Poppins', sans-serif;
        color: rgb(166, 134, 106);

    font-size: 18px;


}

.header-content h1{
    font-family: 'Jockey One', sans-serif;
    color: rgb(166, 134, 106);
 
    font-size: 96px;
}




.header-content2{
    top: 39%;
    left: 40%;
}
.header-content2 p {

    font-family: 'Poppins', sans-serif;
        color: rgb(166, 134, 106);

    font-size: 18px;


}

.header-content2 h1{
    font-family: 'Jockey One', sans-serif;
    color: rgb(166, 134, 106);
 
    font-size: 96px;
}

.titel{
    font-family: 'Jockey One', sans-serif;
    color: rgb(166, 134, 106);
    text-decoration: underline;
    padding-bottom: 10px;}

    .intro{

        font-family: 'Poppins', sans-serif;
        color: #666;
        font-size: 17px;
    
    }

.swiper-slide {

    margin-right: -200px;
}

.swiper-slide swiper-slide-active{
    margin-right: 50px;
}



.swiper-button-prev , .swiper-button-next{

    background-color: #fff;
    color: #000 !important;
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
    border-radius: 50% ;
}

.swiper-button-prev::after ,.swiper-button-next::after{
    font-size: 20px !important;
}

.swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal{
    padding-top: 10% !important;
}



/* catigoriesDetails */

.product-img{

    width: 57%;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
align-items: center;

}

.product-name{
    font-family: 'Poppins', sans-serif;
    color: #666;
    font-size: 15px;

}

.details_link{

    background-color: rgb(166, 134, 106);
    color: white;

    font-size: 20px;
    text-decoration: none;
}
.not-found{
    font-family: 'Poppins', sans-serif;
    color: #666;
    font-size: 35px;

}

