

@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
/* font-family: 'Jockey One', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
/* font-family: 'Poppins', sans-serif; */
.profile{



    background-color:#fafafa ;
    display: flex;
    gap: 30px;
    height: 100;
}


.profileLinks nav {

    background-color:#fff;
    display: flex;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    font-family: 'Jockey One', sans-serif;

}

.profileLinks {
    width: 300px;
}

.userData {

    flex-grow: 1;
}

.links a{

    color: #666;
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    border-bottom: 1px solid #666;
    padding-bottom: 10px;

}




/*  start userinfo page &contact */


.title {
    font-family: 'Jockey One', sans-serif;
    color: rgb(166, 134, 106);
    text-decoration: underline;
    padding-bottom: 10px;
}

.username{
    font-family: 'Poppins', sans-serif;
    color: #666;

}

.img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid darkgray;
}
/* end userinfo page &contact*/

/* order i nformation page */

.table_font{
    font-family: 'Poppins', sans-serif;
    color: #666;
}